<p>
  <mat-toolbar>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>

<mat-grid-list cols="2" rowHeight="16:9">
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Tristana_0.jpg" alt="Campeon Tristana">
    <p>Tristana</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Swain_0.jpg" alt="Campeon Swain">
    <p>Swain</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_0.jpg" alt="Campeon Ashe">
    <p>Ashe</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Samira_0.jpg" alt="Campeon Samira">
    <p>Samira</p>
  </mat-grid-tile>
</mat-grid-list>


<router-outlet></router-outlet>
