<div class="barra-negra">
  <button mat-flat-button [routerLink]="['']" ><mat-icon>home</mat-icon></button>
  <h2>League of Legends</h2>
  <button mat-flat-button [routerLink]="['']" ><mat-icon>share</mat-icon></button>
</div>
  <mat-grid-list class="toolbar" cols="5" rowHeight="60px">
    <mat-grid-tile [routerLink]="['/main/Top']">
      <img src="../assets/lanes/top.webp" alt="Top">
    </mat-grid-tile>
    <mat-grid-tile [routerLink]="['/main/Jungle']">
      <img src="../assets/lanes/jungle.webp" alt="Jungle">
    </mat-grid-tile>
    <mat-grid-tile [routerLink]="['/main/Mid']">
      <img src="../assets/lanes/mid.webp" alt="Mid">
    </mat-grid-tile>
    <mat-grid-tile [routerLink]="['/main/Adc']">
      <img src="../assets/lanes/bot.webp" alt="Bot">
    </mat-grid-tile>
    <mat-grid-tile [routerLink]="['/main/Support']">
      <img src="../assets/lanes/support.webp" alt="Support">
    </mat-grid-tile>
  </mat-grid-list>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.4.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/8.4.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<router-outlet></router-outlet>
