.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  z-index: 1000;
  width: 100%;
  background-color: rgb(67, 67, 67);
  transition: background-color 0.35s ease-in-out;
  mat-grid-tile {
    background-color: rgb(67, 67, 67);
    transition: background-color 0.35s ease-in-out;
  }
  mat-grid-tile:hover {
    background-color: white;
    transition: background-color 0.35s ease-in-out;
  }
}

.toolbar-hidden {
  visibility: hidden;
}

