<mat-grid-list cols="2" rowHeight="16:9">
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Tristana_0.jpg" alt="Campeon Tristana" [routerLink]="['/champion']">
    <p>Tristana</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Swain_0.jpg" alt="Campeon Swain" [routerLink]="['/champion']">
    <p>Swain</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_0.jpg" alt="Campeon Ashe" [routerLink]="['/champion']">
    <p>Ashe</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Samira_0.jpg" alt="Campeon Samira" [routerLink]="['/champion']">
    <p>Samira</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ezreal_0.jpg" alt="Campeon Ezreal" [routerLink]="['/champion']">
    <p>Ezreal</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Twitch_0.jpg" alt="Campeon Twitch" [routerLink]="['/champion']">
    <p>Twitch</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg" alt="Campeon Jinx" [routerLink]="['/champion']">
    <p>Jinx</p>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vayne_0.jpg" alt="Campeon Vayne" [routerLink]="['/champion']">
    <p>Vayne</p>
  </mat-grid-tile>
</mat-grid-list>
