.grande {
  mat-grid-tile-footer {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
     font-size: 100%;
  }
  p {
    position: absolute;
    top: 45%;
    color: rgb(220, 220, 220);
    z-index: 0;
    font-size: 3rem;
  }
}

.pequeno {
   background-color: rgb(26, 26, 26);
  mat-grid-tile {
    mat-grid-tile-footer {
      display: flex;
      justify-content: center;
      font-size: 100%;
   }
   }

}

img {
  z-index: 1;
  max-width:100%;
  filter:opacity(100%);
  transition: filter 0.35s ease-in-out;
}

img:hover {
  filter:opacity(15%);
  transition: filter 0.35s ease-in-out;
}
