<mat-grid-list cols="3" cols-sm="1" cols-md="2" cols-gt-md="6" rowHeight="16:9" gutter="12px" gutter-gt-sm="8px">
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Tristana_0.jpg" alt="Campeon Tristana" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Tristana</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Swain_0.jpg" alt="Campeon Swain" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Swain</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ashe_0.jpg" alt="Campeon Ashe" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Ashe</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Samira_0.jpg" alt="Campeon Samira" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Samira</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Ezreal_0.jpg" alt="Campeon Ezreal" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Ezreal</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Twitch_0.jpg" alt="Campeon Twitch" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Twitch</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg" alt="Campeon Jinx" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Jinx</mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Vayne_0.jpg" alt="Campeon Vayne" [routerLink]="['/champion']">
    <mat-grid-tile-footer>Vayne</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<button (click)="skinscampeones()">Presiona aqui para producir el link para console.log</button>
