.grande {
  img {
    width: 95%;
    height: 95%;
    border: 3px solid #212121;
      border-radius: 6px;
  }
  mat-grid-tile-footer {
    background: none;
    display: flex;
    bottom: 20%;
    justify-content: center;
     font-size: 2.5rem;
  }
}

.pequeno {
   background-color: rgb(26, 26, 26);
  mat-grid-tile {
    img {
      width: 80%;
      height: 80%;
      border: 3px solid #212121;
      border-radius: 10%;
    }
    mat-grid-tile-footer {
      display: flex;
      justify-content: center;
      font-size: 100%;
      background: none;
   }
   }

}

img {
  z-index: 1;
  max-width:100%;
  filter:opacity(100%);
  transition: filter 0.35s ease-in-out;
}

img:hover {
  filter:opacity(15%);
  transition: filter 0.35s ease-in-out;
}
