
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

.imagen-centrada-redonda {

  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-top: -20px;
  padding-bottom: 50px;
  background-color: #2979ff;

  div {
    justify-content: center;
    align-content: center;
    .img-centered-round {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      border: 5px solid white;
      margin-top: -70px;
      margin-left: 20%;
      margin-right: 20%;
    }
    h2 {
      margin-top: 20px;
      font-size: 4rem;
      text-align: center;
      color: #212121;

    }
  }
}

.seccions {
  margin-top: -30px;
  background-color: #004ecb;
  mat-grid-tile {
    background-color: #004ecb;
    transition: background-color 0.35s ease-in-out;
  :hover {
    background-color: #719ff5;
    transition: background-color 0.35s ease-in-out;
  }
  button {
    background-color: #004ecb;
    width: 100%;
    height: 100%;
    border-radius: 0;
    :hover {
      background-color: #719ff5;
    transition: background-color 0.35s ease-in-out;
    }
  }
  }

}

#escondido{
  color: white;
  display: block;
  font-size: 3rem;
}

#skins{
  display: none;
}
#historia{
  color: white;
  display: none;
  font-size: 3rem;

}

.habilidades {
  color: red
}
.historia {
  color: rgb(255, 166, 0)
}
