
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }

.imagen-centrada-redonda {
  width: 100%;
  margin-top: -20px;
  padding-bottom: 50px;
  background-color: #2979ff;

  div {
    .img-centered-round {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      border: 5px solid white;
      margin-top: -70px;
      margin-left: 20%;
      margin-right: 20%;
    }
    h2 {
      text-align: center;
      margin-top: -30px;
      font-size: 4rem;
      color: #212121;
      margin-left: 50%;
      margin-right: 10%;
      line-height: 4rem;
    }
  }
}

.imagen-centrada-pequena {
  width: 100%;
  margin-top: -20px;
  padding-bottom: 50px;
  background-color: #00338c;
  div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    .img-centered-round {
      height: 140px;
      width: 140px;
      border-radius: 100%;
      border: 5px solid white;
      margin-top: -70px;

    }
    h2 {
      text-align: center;
      margin-top: -30px;
      font-size: 4rem;
      color: #212121;
      margin-top: 40px;
      line-height: 4rem;
    }
  }
}
.seccions {
  margin-top: -30px;
  background-color: #004ecb;
  mat-grid-tile {
    background-color: #004ecb;
    transition: background-color 0.35s ease-in-out;
  :hover {
    background-color: #719ff5;
    transition: background-color 0.35s ease-in-out;
  }
  button {
    background-color: #004ecb;
    width: 100%;
    height: 100%;
    border-radius: 0;
    :hover {
      background-color: #719ff5;
    transition: background-color 0.35s ease-in-out;
    }
  }
  }

}

#habilidades {
  display: none;
  color: red
}
#historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  h2 {
    font-size: 4rem;
    text-align: center;
    color: whitesmoke;
    line-height: 4rem;
    margin-top: 5%;
  }
  p {
    font-size: 2rem;
    text-align: center;
    color: aliceblue;
    line-height: 4rem;
    margin: 5% 10%;
  }
}
#skins {
  display: none;
}

.small {
  *{
    color: rgb(21, 255, 0);
    background-color: rgb(51, 255, 0);
  }
}

.tiny {
  *{
    color: rgb(13, 0, 255);
    background-color: rgb(4, 0, 255);
  }
}
// @media (max-width: 576px) {
//   *{
//     color: red;
//     background-color: red;
//   }
//   .nombre {
//     color: red;
//     font-size: 2rem;
//     line-height: 2rem;
//   }
//   .foto-nombre {
//     color: red;

//   }
// }

