<img [src]="imagenPrincipal(campeon)" alt="Primer Campeon" >

<div class="imagen-centrada-redonda">
  <div>
    <img class="img-centered-round" [src]="imagenPrincipal(campeon)" alt="Imagen Rounded">
    <h2>
      {{campeon}}
    </h2>
  </div>
</div>
<div>
  <mat-grid-list class="seccions" cols="3" rowHeight="50px">
    <mat-grid-tile>
      <button mat-flat-button (click)="show('habilidades')">
        Habilidades
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="show('historia')">
        Historia
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-flat-button (click)="show('skins')">
        Skins
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>

  <mat-grid-list cols="3" rowHeight="405:239" id="skins">
    <mat-grid-tile *ngFor="let row of skin; let i = index">
      <img [src]="skins(i, campeon)" alt="Skin Campeon">
    </mat-grid-tile>
  </mat-grid-list>

<!-- [default]="skinCampeon(1)" -->

<p id="habilidades" class="habilidades">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique voluptates laboriosam, ipsam vel odio aspernatur perspiciatis ex fugit doloribus debitis minima officiis esse nisi id, aliquid omnis in rem.
</p>
<p id="historia" class="historia">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur similique voluptates laboriosam, ipsam vel odio aspernatur perspiciatis ex fugit doloribus debitis minima officiis esse nisi id, aliquid omnis in rem.
</p>
